<li>
	

    {{#if devoured}}
    <textarea class="display" rows="1" cols= "20" data-id="{{id}}" data-devour="{{devoured}}" disabled>{{id}}. {{burger_name}}</textarea>
    <button class="delete" data-id="{{id}}" data-devour="{{devoured}}"> Delete Devoured!</button>

    {{else}}
    {{id}}. {{burger_name}}
	<button class="eatNoeat" data-id="{{id}}" data-devour="{{devoured}}"> Devour It!!</button>

	{{/if}}
</li>